* {
    margin: 0;
    padding: 0;
}

.hi {
    position: absolute;
}

body {
    background-image: url("./images/zarunax4.png");
    justify-items: center;
}

.box1 {
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    width: 150vh;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'comic sans', cursive;
    font-size: 100px;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'comic sans', cursive;
    color: white;
}

.text1 {
    text-align: center;
    font-size: 20px;
    font-family: 'comic sans', cursive;
    color: white;
    background-color: black;
}

.text2 {
    text-align: center;
    font-size: 20px;
    font-family: 'comic sans', cursive;
    color: white;
    background-color: black;
}